.login_logo {
    display: block;
    margin: 52px 0;
    font-size: 52px;
    text-align: center;
    color: rgb(3, 163, 27);
    font-weight: bold;
    text-decoration: none;
}

.form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.form_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form_label {
    flex-basis: 50%;
}


.form_input {
    width: 100%;
    padding: 7px;
    font-size: 16px;
}

.button {
    display: block;
    width: 80%;
    height: 50px;
    margin: 50px auto 20px;
    border: none;
    border-radius: 50px;
    background-color: rgb(38, 94, 5);
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 2px 2px 4px #000;
}
.button:focus,
.button:hover {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
}

.login_form_link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.login_form_link:focus,
.login_form_link:hover {
    text-decoration: underline;
}

.lead-text {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.block-label {
    display: block;
    text-align: center;
}

.register_form_wrap {
    margin-bottom: 30px;
}

.signup_check_form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}

.registered_box_text {
    display: table;
    margin: 0 auto;
}
